SharedResources/SchemaDefinitions/Private/Common/ErrorRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema--><xsd:schema xmlns="http://www.tibco.com/CommonLE2/Private/Common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/CommonLE2/Private/Common">
	<xsd:element name="ErrorRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RequestType"/>
				<xsd:element ref="xmlRequestString"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RequestType" type="xsd:string"/>
	<xsd:element name="xmlRequestString" type="xsd:string"/>
</xsd:schema>
