SharedResources/SchemaDefinitions/Private/Common/Rendering.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema--><xsd:schema xmlns="http://www.tibco.com/CommonLE2/namespace/private/Common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/CommonLE2/namespace/private/Common">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ApplicationID"/>
				<xsd:element ref="RenderID"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ApplicationID" type="xsd:string"/>
	<xsd:element name="RenderID" type="xsd:string"/>
	<xsd:element name="RenderingImp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Css"/>
				<xsd:element ref="XSLTSyleSheet"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Css" type="xsd:string"/>
	<xsd:element name="XSLTSyleSheet" type="xsd:string"/>
	<xsd:simpleType name="adf">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>
