SharedResources/SchemaDefinitions/Public/Pluggable/GUI/Administration/Configuration/Applications.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema--><xsd:schema xmlns="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Applications" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Applications">
	<xsd:element name="Applications">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Application"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Application">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ApplicationID" type="xsd:string"/>
				<xsd:element minOccurs="0" name="Name" type="xsd:string"/>
				<xsd:element minOccurs="0" name="Description" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
