SharedResources/SchemaDefinitions/Public/Pluggable/GUI/Administration/Configuration/ConfigurationListQuery.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Administration/Configuration/ConfigurationListQuery.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Administration/Configuration/ConfigurationListQuery.xsd">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" name="ConfigQueryType" type="xsd:string"/>
				<xsd:element name="ID" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
