SharedResources/SchemaDefinitions/Public/Pluggable/GUI/Administration/Configuration/ExceptionConfigurationList.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema--><xsd:schema xmlns="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/ExceptionConfigList" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/ExceptionConfigList">
	<xsd:element name="ExceptionConfigListRecord">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ApplicationID" type="xsd:string"/>
				<xsd:element name="ExceptionCode" type="xsd:string"/>
				<xsd:element name="ProcedureName" type="xsd:string"/>
				<xsd:element name="NotificationChannel" type="xsd:string"/>
				<xsd:element name="Exceptionttl" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExceptionConfigList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ExceptionConfigListRecord"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
