SharedResources/WSDL/GUI/Administration/intfUpdateType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CommonLE2/Public/Common" xmlns:ns2="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Administration/Configuration/ConfigurationListQuery.xsd" xmlns:pfx0="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Type" xmlns:pfx1="http://www.tibco.com/CommonLE2/namespace/private/Common" xmlns:pfx2="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" xmlns:tns="http://www.tibco.com/CommonLE2/namespace/Administration/GUIServices/Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Administration/GUIServices/Type">
    <import location="../../../SchemaDefinitions/Private/Common/LocalExceptions.xsd" namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"/>
    <import location="../../../SchemaDefinitions/Public/Pluggable/GUI/Administration/Configuration/ExceptionType.xsd" namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Type"/>
    <import location="../../../SchemaDefinitions/Public/Pluggable/GUI/Administration/Configuration/ConfigurationQuery.xsd" namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query"/>
    <import location="../../../SchemaDefinitions/Public/Common/ErrorMessage.xsd" namespace="http://www.tibco.com/CommonLE2/Public/Common"/>
    <import location="../../../SchemaDefinitions/Public/Pluggable/GUI/Administration/Configuration/ConfigurationListQuery.xsd" namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Administration/Configuration/ConfigurationListQuery.xsd"/>
    <message name="ExceptionTypes">
        <part element="pfx0:ExceptionTypes" name="parameters"/>
    </message>
    <message name="Error">
        <part element="ns:Error" name="parameters"/>
    </message>
    <message name="Query">
        <part element="pfx2:Query" name="parameters"/>
    </message>
    <message name="Dummy"/>
    <portType name="portType">
        <operation name="UpdateTypeOp">
            <input message="tns:ExceptionTypes"/>
            <output message="tns:Dummy"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="RetrieveSpecificTypeOp">
            <input message="tns:Query"/>
            <output message="tns:ExceptionTypes"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="DeleteTypeOp">
            <input message="tns:Query"/>
            <output message="tns:Dummy"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="CreateTypeOp">
            <input message="tns:ExceptionTypes"/>
            <output message="tns:Dummy"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="RetrieveTypeListWithSysIDOp">
            <input message="tns:Query"/>
            <output message="tns:ExceptionTypes"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
    </portType>
</definitions>
