SharedResources/WSDL/GUI/Administration/intfUpdateProcedure.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CommonLE2/Public/Common" xmlns:pfx0="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Procedure" xmlns:pfx1="http://www.tibco.com/CommonLE2/namespace/private/Common" xmlns:pfx2="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" xmlns:tns="http://www.tibco.com/CommonLE2/namespace/Administration/GUIServices/Procedure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Administration/GUIServices/Procedure">
    <import location="../../../SchemaDefinitions/Private/Common/LocalExceptions.xsd" namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"/>
    <import location="../../../SchemaDefinitions/Public/Pluggable/GUI/Administration/Configuration/ConfigurationQuery.xsd" namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query"/>
    <import location="../../../SchemaDefinitions/Public/Pluggable/GUI/Administration/Configuration/ExceptionProcedure.xsd" namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Procedure"/>
    <import location="../../../SchemaDefinitions/Public/Common/ErrorMessage.xsd" namespace="http://www.tibco.com/CommonLE2/Public/Common"/>
    <message name="ExceptionProcedures">
        <part element="pfx0:ExceptionProcedures" name="parameters"/>
    </message>
    <message name="Error">
        <part element="ns:Error" name="parameters"/>
    </message>
    <message name="Query">
        <part element="pfx2:Query" name="parameters"/>
    </message>
    <message name="Dummy"/>
    <portType name="portType">
        <operation name="UpdateProcedureOp">
            <input message="tns:ExceptionProcedures"/>
            <output message="tns:Dummy"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="RetrieveSpecificProcedureOp">
            <input message="tns:Query"/>
            <output message="tns:ExceptionProcedures"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="DeleteProcedureOp">
            <input message="tns:Query"/>
            <output message="tns:Dummy"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="CreateProcedureOp">
            <input message="tns:ExceptionProcedures"/>
            <output message="tns:Dummy"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="RetrieveProcedureListWithSysIDOp">
            <input message="tns:Query"/>
            <output message="tns:ExceptionProcedures"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
    </portType>
</definitions>
